name: Build and deploy container to Azure Container Instance

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags:  nishrepo.azurecr.io/bookfromhub:latest

      - name: Deploy to Azure Container App
        uses: azure/cli@v1
        with:
          azcliversion: 2.72.0
          inlineScript: |
            az containerapp update --name BookFromHubApp --resource-group Az-Certification --image nishrepo.azurecr.io/bookfromhub:latest
